# Python byte-compiled / optimised / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Editor
.idea/
.vscode/
*.swp
